.dropdown-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100vw;

  .select-explore {
    background-color: $white;
    border: 0.5px solid $smoke;
    border-radius: 5px;
    outline: none;
    max-width: 300px;
    padding: 0.5rem 0.75rem;
    width: 70%;

    option {
      color: $dark;

      &:hover {
        background-color: $orange;
        color: $dark;
      }

      &:disabled {
        background-color: $green-leaf;
        color: $white;
      }

    }
  }
}
