.container-header {
  align-items: center;
  background-color: $dark;
  border-radius: 0 0 0.25rem 0.25rem;
  border-bottom: 1px solid $orange;
  color: $green-leaf;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 1rem;
  position: relative;
  width: 100vw;
  z-index: 1;

  .profile-logo {
    text-align: center;
  }

  .header-title {
    font-family: Rochester, cursive;
    font-size: 1.87rem;
    font-weight: 500;
    text-align: center;

    img {
      margin-left: -1.5px;
      transform: rotate(-45deg);
      width: 30px;
    }
  }

  .btn-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }
}
