.loading-container {
  background-color: #ffbb338f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 360px;
  z-index: 999;
}

.logo-container {
  animation: degrade infinite ease 1s;
  margin-left: 32.5%;
  max-width: 126px;
  overflow: hidden;
  transition: 0.5s;
}

.load-logo {
  width: 126px;
}

@keyframes degrade {

  0% {
    opacity: 0;
    width: 1%;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 8;
    width: 126px;
  }
}
