.loading-container {
  align-items: center;
  background: $sweet-dark-opaque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.logo-container {
  animation: degrade infinite ease 1s;
  max-width: 375px;
  overflow: hidden;
  transition: 0.5s;
  width: 60vw;
}

.load-logo {
  width: 100%;
}

@keyframes degrade {

  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
