@mixin generic-input {
  border: 2px solid $smoke;
  border-radius: 0.3rem;
  outline: none;
  padding: 0.95rem 0.5rem;

  &:focus {
    border: 2px solid $green-leaf;
    box-shadow: 0 0 0 2px $green-leaf;
  }
}

@mixin generic-button {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid $green-leaf;
    box-shadow: 0 0 0 2px $green-leaf;
    opacity: 1;
  }

  &:disabled {
    background-color: $green-smoke;
    color: $smoke;
    opacity: 1;
  }
}

@mixin scroll-bar($bg-color: $dark, $size: 5px) {

  &::-webkit-scrollbar {
    background-color: $bg-color;
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green-leaf;
    border: 2px solid $green-leaf;
    border-radius: 0.5rem;
  }
}
