.container-form {
  align-items: center;
  background-color: rgb(39, 39, 42);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.container-form .box-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-height: 335px;
  max-width: 300px;
  width: 100%;
}
.container-form .logo-login-container {
  align-self: center;
  -webkit-animation: degrade-login both 2s;
          animation: degrade-login both 2s;
  margin-bottom: 10px;
  margin-left: 5%;
  overflow: hidden;
}
.container-form .logo-login-container .logo-login {
  max-width: 90%;
  min-width: 200px;
  width: 70%;
}
.container-form .label-login {
  height: 50px;
  width: 90%;
}
.container-form .label-login .input-login {
  border: 2px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  outline: none;
  padding: 0.95rem 0.5rem;
  height: 30px;
  width: 100%;
}
.container-form .label-login .input-login:focus {
  border: 2px solid rgb(91, 140, 22);
  box-shadow: 0 0 0 2px rgb(91, 140, 22);
}
.container-form .login-btn {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s ease-in-out;
  background-color: rgb(91, 140, 22);
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 90%;
}
.container-form .login-btn:hover {
  border: 1px solid rgb(91, 140, 22);
  box-shadow: 0 0 0 2px rgb(91, 140, 22);
  opacity: 1;
}
.container-form .login-btn:disabled {
  background-color: rgb(107, 132, 72);
  color: rgb(204, 204, 204);
  opacity: 1;
}

@-webkit-keyframes degrade-login {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}

@keyframes degrade-login {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}
.container-header {
  align-items: center;
  background-color: rgb(24, 24, 27);
  border-radius: 0 0 0.25rem 0.25rem;
  border-bottom: 1px solid rgb(255, 119, 17);
  color: rgb(91, 140, 22);
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 1rem;
  position: relative;
  width: 100vw;
  z-index: 1;
}
.container-header .profile-logo {
  text-align: center;
}
.container-header .header-title {
  font-family: Rochester, cursive;
  font-size: 1.87rem;
  font-weight: 500;
  text-align: center;
}
.container-header .header-title img {
  margin-left: -1.5px;
  transform: rotate(-45deg);
  width: 30px;
}
.container-header .btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  text-align: center;
}
.container-header .btn-search:hover {
  opacity: 1;
}

.nav-search {
  align-items: center;
  background-color: rgb(255, 119, 17);
  border-radius: 0 0 0.25rem 0.25rem;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  margin-top: -130px;
  padding: 0.25rem 0;
  position: relative;
  transition: margin-top 0.4s ease-in-out;
  z-index: 0;
}
.nav-search label {
  max-width: 375px;
  width: 70%;
}
.nav-search label .input-searchbar {
  border: 2px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  outline: none;
  padding: 0.95rem 0.5rem;
  max-height: 40px;
  margin-top: 5px;
  width: 100%;
}
.nav-search label .input-searchbar:focus {
  border: 2px solid rgb(91, 140, 22);
  box-shadow: 0 0 0 2px rgb(91, 140, 22);
}
.nav-search .searchbar-btn {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s ease-in-out;
  background-color: rgb(91, 140, 22);
  color: white;
  max-width: 375px;
  width: 70%;
}
.nav-search .searchbar-btn:hover {
  border: 1px solid rgb(91, 140, 22);
  box-shadow: 0 0 0 2px rgb(91, 140, 22);
  opacity: 1;
}
.nav-search .searchbar-btn:disabled {
  background-color: rgb(107, 132, 72);
  color: rgb(204, 204, 204);
  opacity: 1;
}
.nav-search div {
  max-width: 375px;
  text-align: center;
  width: 100%;
}
.nav-search div .radio-searchBar {
  margin: 0 5px;
}

.openSearch {
  margin-top: -1px;
}

.footer {
  align-items: center;
  background-color: rgb(24, 24, 27);
  border-radius: 0.25rem 0.25rem 0 0;
  border-top: 1px solid rgb(255, 119, 17);
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.footer a:nth-child(1) img {
  height: 47px;
}
.footer a:nth-child(2) img {
  height: 37px;
}
.footer a:nth-child(3) img {
  height: 34px;
}

.link-card-foods {
  background-color: rgba(240, 248, 255, 0.7);
  border: 2px solid rgb(255, 119, 17);
  border-radius: 0.25rem;
  height: 95vw;
  max-height: 375px;
  max-width: 375px;
  width: 92vw;
}
.link-card-foods a {
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
.link-card-foods a div {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.link-card-foods a img {
  border-radius: 0.25rem;
  width: 100%;
}
.link-card-foods a span {
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 0.25rem;
  bottom: 2px;
  color: rgb(91, 140, 22);
  font-family: Fjalla One, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .link-card-foods div {
    overflow: hidden;
  }
  .link-card-foods img {
    transition: all 0.6s ease-in-out;
  }
  .link-card-foods img:hover {
    transform: scale(1.5);
  }
}
.filter-recipes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: 100px;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 375px;
  padding: 1rem 0;
  width: 100vw;
}
.filter-recipes button {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 0.25rem 0.5rem;
  width: 30%;
}
.filter-recipes button:hover {
  border: 1px solid rgb(91, 140, 22);
  box-shadow: 0 0 0 2px rgb(91, 140, 22);
  opacity: 1;
}
.filter-recipes button:disabled {
  background-color: rgb(107, 132, 72);
  color: rgb(204, 204, 204);
  opacity: 1;
}

.main-recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 70px;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;
}
a:hover {
  opacity: 1;
}

body {
  background-color: rgb(39, 39, 42);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  position: relative;
  width: 100vw;
}
body::-webkit-scrollbar {
  background-color: rgb(255, 119, 17);
  height: 5px;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(91, 140, 22);
  border-radius: 30%;
  border: 2px solid rgb(91, 140, 22);
}

.main-recipes {
  overflow-y: auto;
}/*# sourceMappingURL=styles.css.map */