@import "./colors";
@import "../pages/login.scss";
@import "../components/global";
@import "../pages/styles/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

body {
  background-color: $sweet-dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  position: relative;
  width: 100vw;

  &::-webkit-scrollbar {
    background-color: $orange;
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green-leaf;
    border-radius: 30%;
    border: 2px solid $green-leaf;
  }
}

// usando para estilizar o footer
.main-recipes {
  overflow-y: auto;
}
