@import './colors';

@import '../pages/login';

@import '../components/global';

@import '../pages/styles/global';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: $sweet-dark;
  font-family: -apple-system, Segoe UI, Roboto, sans-serif;
  height: 100vh;
  position: relative;
  width: 100vw;

  &::-webkit-scrollbar {
    background-color: $dark;
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green-leaf;
    border: 2px solid $green-leaf;
    border-radius: 0.5rem;
  }

}

a {
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

#root {
  height: 100%;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1000px) {

  body {
    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
  }
}
