.footer {
  align-items: center;
  background-color: $dark;
  border-radius: 0.25rem 0.25rem 0 0;
  border-top: 1px solid $orange;
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;

  a:nth-child(1) img {
    height: 47px;
  }

  a:nth-child(2) img {
    height: 37px;
  }

  a:nth-child(3) img {
    height: 34px;
  }
}
